include README.md
include uv.lock
include install.sh
include uninstall.sh
recursive-include scripts *.sh *.py
recursive-include app *.py
recursive-include tests *.py
recursive-include app/assets *.svg
recursive-include browser-extension *.json *.js
